body{
    background: rgb(1,1,9);
    background: linear-gradient(90deg, rgba(1,1,9,1) 0%, rgba(82,235,10,1) 55%, rgba(0,255,47,1) 100%);
}
.snaketitle{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;

}
#mainboard{
    
    
    display: flex;
   margin-left: 25%;
    border: 2px solid white;
    border-radius: 12px;

}
#score1{
    font-size: 2.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;

}
#gameover{
    position: absolute;
    margin-left: 28%;
    margin-top: 4.5%;
    display: none;
    
}

    

